{{#if isEditing}}
  {{partial 'customers/edit'}}
  <button id="save_customer_edit"{{action 'doneEditing'}}>Done</button>
  <button id="cancel_customer_edit"{{action 'cancelEditing'}}>Cancel</button>
{{else}}
  <button {{action 'edit'}}>Edit</button>
{{/if}}

<ul class="customers_list">
  <li>Name: {{name}}</li>
  <li>Email: {{email}}</li>
</ul>

