<h2 class="home_heading">This is the customer Home page</h2>

{{#if addingNewAppointment}}
  <label for="new_day">Day</label>
  {{input type ='date' value=controller.new_name id='new_day'}}
  <label for="new_notes">Notes</label>
  {{textarea value=controller.new_notes id='new_notes'}}
  <button id="save_new_appointment" {{action 'saveNewAppointment'}} >Save</button>
  <button id="cancel_new_appointment"{{action 'cancelNewAppointment'}}>Cancel</button>
{{else}}
  <button id="new_appointment" {{action 'addNewAppointment'}}>New Appointment</button>
{{/if}}

<ul class='appointments_list'><h3>Here are your upcoming appointments:</h3>
  {{#each appointment in controller}}
  <li>Date:{{appointment.day}}</li>
  <li>Notes:{{appointment.notes}}</li>
  {{/each}}
</ul>
