{{!-- <button {{action 'status'}}>Status</button>
<button {{action 'home'}}>Home</button> --}}
<div id="main-image">
          <div class="row">
            <div class="small-3 small-centered columns" id="main-title">
              <!-- <h1><strong>Delucia Boxing</strong><h1> -->
            </div>
          <div class="row">
            <div class="small-3 small-centered columns" id="center-button">
              {{#if addingNewCustomer}}
                <label id="nc_label" for="name">Name</label>
                {{input type ='text' value=controller.name id='name'}}
                <label id="nc_label" for="email">Email</label>
                {{input type ='text' value=controller.email id='email'}}
                <label id="nc_label" for="password">Password</label>
                {{input type ='password' value=controller.password id='password'}}
                <button id="save_new_customer" {{action 'saveNewCustomer'}}>Save</button>
                <button id="cancel_new_customer"{{action 'cancelNewCustomer'}}>Cancel</button>
              {{else}}
                <button class="button small-centered" id="new_customer" {{action 'addNewCustomer'}}>Get Started</button>
              {{/if}}
              {{#link-to 'session'}}<button class="button small-centered" id="new_customer" >Sign In</button>{{/link-to}}
            </div>
          </div>
        </div>
</div>

{{outlet}}
